
services:
  hytale-server:
    build: .
    container_name: hytale
    stdin_open: true
    tty: true
    ports:
      - "5520:5520/udp"
    volumes:
      - hytale-data:/hytale
    environment:
      HYTALE_PORT: "5520"
      USE_AOT_CACHE: "true"
      ENABLE_AUTO_UPDATE: "true"
      SKIP_DELETE_ON_FORBIDDEN: "true"
      ACCEPT_EARLY_PLUGINS: "false"
      ALLOW_OP: "false"
      ASSETS_PATH: "/hytale/Assets.zip"
      AUTH_MODE: "authenticated"
      BIND_ADDR: "0.0.0.0"
      BACKUP_ENABLED: "false"
      BACKUP_DIR: "/hytale/backups"
      BACKUP_FREQUENCY: "30"
      DISABLE_SENTRY: "false"
      JAVA_XMS: "4G"
      JAVA_XMX: "4G"
    restart: unless-stopped

volumes:
  hytale-data: